{% extends 'base.html.twig' %}

{% block title %}CGU HopExpress{% endblock %}

{% block body %}

	{{include ("partials/title_section.html.twig", {'name': "Condition Générales d'utilisation"})}}


<div class="container">
    <h1 class="text-center mt-2">Condition Générales d'utilisation du site HopExpress</h1>

    <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore dignissimos minus illo laborum distinctio facere dolor velit iusto consequatur minima pariatur aliquid vero voluptates quae sed incidunt, labore magni ducimus.
    Iste nobis, consequuntur dignissimos consectetur eligendi labore corrupti pariatur fugiat nam error facilis obcaecati tempore dicta placeat repellat natus et at tenetur eaque! Eaque nisi velit praesentium recusandae, fugit nostrum?
    Ullam in eveniet est unde. Eaque quo, maxime fuga sequi quibusdam enim modi, neque autem, ducimus corrupti unde veniam culpa ipsam est tempora provident quia asperiores non. Quisquam, impedit perferendis.
    Vitae quibusdam sequi cum maiores dignissimos, libero quisquam commodi possimus voluptates, esse earum eveniet ducimus vero voluptatibus eaque neque distinctio mollitia sapiente quis voluptatem? Cumque dolore hic repellat accusantium! Vel?
    Voluptas asperiores incidunt quae? Iste modi commodi rerum, explicabo rem alias minus iure porro, cum deleniti nam amet architecto natus placeat voluptatum delectus perspiciatis eaque voluptatibus corporis at laudantium qui?
    Rem tenetur et, sed quia minima doloremque repellendus. Architecto voluptatum assumenda qui fugit culpa, voluptatibus necessitatibus aliquam, quia iste consequuntur autem eligendi suscipit, voluptatem odit provident distinctio modi tempore? Numquam.
    Soluta maxime omnis perferendis cumque animi eius eos aliquid, officia sequi quos exercitationem asperiores obcaecati? Molestiae repudiandae ullam, praesentium consectetur expedita aperiam odio optio, nulla, iusto voluptas mollitia eligendi aliquam!
    Sequi quidem, explicabo doloremque asperiores facilis cumque, at voluptate non culpa minus ipsa consequatur atque molestias eius in porro soluta velit. Nobis ratione nesciunt officiis ut quos fuga earum inventore.
    Non, provident. Adipisci ducimus eos, rem atque quis distinctio similique in quos quas, harum blanditiis molestiae, exercitationem necessitatibus. Exercitationem assumenda quasi necessitatibus inventore atque eos quia, quos ducimus et debitis!
    Rem esse illo magnam, doloremque, sunt ipsum minus consequatur obcaecati eaque molestias ut distinctio dolore vitae architecto similique suscipit id accusantium? Alias aliquid tempore sed rerum illo placeat quae? Perspiciatis.
    Impedit hic fuga laborum tempore cupiditate, non, odit id modi repellendus quos est beatae mollitia aut possimus, placeat porro reiciendis quisquam. Similique, id quaerat recusandae et nobis ab ipsa dolorem.
    Officiis, molestiae. Soluta animi eaque laudantium expedita. A aspernatur, vitae eos harum optio, quo autem, tempora dolore distinctio quidem doloribus nobis natus ea ipsam suscipit. Aliquid ut reiciendis maiores optio?
    Eius quam, repellendus sapiente qui impedit dolores iure! Numquam quos hic placeat sed possimus, facilis quo sit vitae. Labore laudantium facere veniam fugiat libero fugit molestiae exercitationem nihil possimus corrupti?
    Odio accusantium commodi numquam vero animi aut dolor minus obcaecati quidem quo voluptatum accusamus eum, cupiditate alias sapiente. Ducimus veritatis nostrum sapiente veniam, ea quasi aliquid eligendi impedit odit rem.
    Id fugiat quis nostrum ipsum officiis voluptas cupiditate non alias maxime laborum suscipit velit, nesciunt veniam doloremque hic delectus consequuntur, ratione nam! Corrupti praesentium minima voluptate maxime, porro sit ipsum?
    Facilis nam quis sed harum aperiam libero voluptatibus. Voluptatem, quibusdam odit recusandae fugiat libero soluta amet facere quia voluptates voluptatum pariatur nihil omnis doloremque nemo, temporibus fugit sed, maiores beatae?
    Maiores perspiciatis reiciendis dignissimos ipsa pariatur voluptate dicta fuga autem, ipsam qui dolores voluptas expedita numquam, natus eos eaque mollitia exercitationem laborum! Vero minima iusto a veniam blanditiis quae doloremque.
    Incidunt, labore provident asperiores nostrum qui voluptate doloremque necessitatibus dolore iure ipsam voluptates odio sed eos, rerum, ab laudantium beatae maiores ratione? Velit recusandae at voluptates consequuntur veritatis harum voluptatum.
    Enim, sed maiores beatae reprehenderit sint natus odio esse recusandae blanditiis sunt tempora atque hic id nisi, et impedit eius distinctio fugiat? Possimus facere saepe obcaecati numquam officia temporibus earum.
    Dolorem laboriosam corrupti quia amet vel quasi ad, inventore ducimus officiis non hic nihil rem, aut nam alias, itaque officia dignissimos debitis omnis placeat quae reiciendis sequi architecto commodi. Eveniet.
    </p>
</div>
{% endblock %}
